.card-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.custom-card {
    border: 0cap;
    background-color: transparent;
    width: 75vw;
    box-shadow: 0 4px 8px rgba(50, 48, 48, 0.5);
    transition: transform 0.3s ease;
    .card-body {
        /* padding: 20px; */
        text-align: center;
        font-size: 16px;
    }
    &:hover {
        font-size: 20px;
        transform: scale(1.05);
    }
}
  