/* Style the navbar container */
.d-flex {
    background-color: transparent;
    /* padding:  0; */
  }
  .navbar-brand {
    color: #040000;
    font-size: 1.5rem;
  }
  .navbar-nav .nav-link {
    margin: 0 15px;
    font-size: 1rem;
  }
  .navbar-nav .nav-link.active {
    border:none
  }
  .navbar-nav .dropdown-menu {
    background-color: whitesmoke
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: black; /* Text color */
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #555; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
  
  /* Style the toggler icon color */
  .navbar-toggler-icon {
    background-color: #fff; /* Toggler icon color */
  }
  #header-prop-title{
    margin: 2px;
    animation: transform 10s ease-in-out;
  }
  #header-prop-title:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0.2em 0.2em 0.2em #7f7c8c;
    border-radius: 5%;
  }

  #header-home{
    padding: 0.5em;
  }

  .nav-item{
    animation: transform 1s ease-in-out;
  }
  .nav-item:hover{
    transform: scale(1.2);
  }
  .header-p{
    animation: transform 1s ease-in-out;
  }
  .header-p:hover{
    color: blue;
  }