/* KickassLoadingScreen.css */
*{
  margin: 0;
  padding: 0;
}
.loading-screen {
    display: flex;
    opacity: 1;
    transition: opacity 4s ease-in-out;
    background-color: rgb(206, 213, 220); /* Set background color */
  }
  
  .loading-screen.loading {
    opacity: 0;
  }
  
  .custom-spinner {
    border-radius: 50%;
    position: absolute;
    margin-top: -5%;
    margin-left: -5%;
    opacity: 1;
}

.spinner1 {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-left: 12px solid #201c1c;
    animation: spin 1s linear infinite;
    transition: opacity 1s ease-in-out;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-left: 12px double blue;
    }
    50%{
        border-left: 6px double purple;
    }
    100% {
        transform: rotate(360deg);
        border-left: 12px solid black;
    }
}
.spinner2{
    width: 150px;
    height: 150px;
    top: 47.5%;
    left: 48%;
    border-right: 12px solid #000000;
    animation: spin2 1.5s linear infinite;
    transition: opacity 1.5s ease-in-out;
}
@keyframes spin2{
    0%{
        transform: rotate(360deg);
        border-right:12px double purple;
    }
    50%{
        border-right: 6px double blue
    }
    100%{
        transform: rotate(0deg);
        border-right: 12px solid black;
    }
}
.spinner3{
    width: 200px;
    height: 200px;
    top: 44%;
    left: 46%;
    border-top: 12px solid #000000;
    animation: spin3 1.5s linear infinite;
    transition: opacity 1.5s ease-in-out;
}
@keyframes spin3{
    0%{
        transform: rotate(-180deg);
        border-top:12px double purple;
    }
    50%{
        transform: rotate(0);
        border-top: 6px double blue
    }
    100%{
        transform: rotate(180deg);
        border-top: 12px solid black;
    }
}