.side-nav-button {
  position: relative;
  overflow: hidden;
  width: 10em;
  font-size: 1.5rem;
}

.side-nav-button::before {
  content: attr(data-content);
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding: 0.5rem;
  background-color: #343a40; 
  color: #fff;
  z-index: 1000;
}

.side-nav-button:hover::before {
  display: block;
}
