/* Custom CSS for card styling */
.card {
  border: none;
  width: 10rem;
  height: 5rem;
  perspective: 1000px; /* Perspective for 3D effect */
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Rotate 180 degrees on hover */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide backface for smoother rotation */
}

.card-front {
  background-color: #9cbbd1; /* Front content background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: transparent; /* Back content background color */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg); /* Initial rotation for back side */
}
